.fs-task {}

.search-box {
  position: absolute;

  /* top: 0;
  left: 0; */

  background-color: #ffffff;

  /* border: 1px solid black; */
  /* border-radius: 10px; */

  z-index: 999;
}

.link-list-container {
  position: relative;

  /* width: 50%; */

  background-color: #ffffff;

  /* border: 1px solid black; */
  /* border-radius: 10px; */

  /* z-index: 999; */
}

.link-searcher {
  position: relative;

  left: 20px;

  z-index: 99999;
}

.search-result-field {
  position: relative;

  left: 20px;

  z-index: 99999;
}

.search-box ul {
  display: flex;
  flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
